.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  background: #EFEFBB;
  border-style: none;
}
body {
    margin: 0;
}
.card {
    margin: 5vh;
    height: 32vh;
    width: 12vw;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}

.image-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
  margin: auto;
}
.flavor-text-container {
  height: 120px;
  text-align: center;
  background-color: rbga(255, 255, 255, 0.6);
  margin: 0;
}
.card-image {
  max-width: 95%;
}

.id-number {
  color: black;
}

.name {
  color: black;
}

.type {
  width: 3vw;
  margin: auto;
}
.type-name {
  color: black;
}

p {
  text-align: center;
  padding-top: 20px;
  margin: 0px 20px 0px 20px;
}